<% content_for :meta_title , "This is my collection on Mustachio" %>
<% content_for :meta_description, "Go check it out and build yours!" %>
<% content_for :meta_image , "logo-meta.png" %>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=774775452673834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="search-section text-center" style='padding-top:80px;'>
  <!-- search -->
  <h2>Add a movie</h2>
  <%= simple_form_for :movie, method: :get, url: search_path do |f|%>
  <%= f.input :title, input_html: {class: 'chosen-select form-control'}, prompt: 'which title?', placeholder: 'which title?',label: false  %>
  <%= f.input :year, input_html: {class: 'chosen-select form-control'}, prompt: '(which year?)', placeholder: 'which year(optional)?',label: false  %>
  <% image_submit_tag("logo-white.png", class: 'image-responsive search-logo') %>
  <%= f.submit "Search", class: "btn" %>
  <% end %>
</div>


<div class="container movies-container">

  <div class="list-navs">
    <%= link_to collections_path, class: "list-nav #{params[:tag_id] ? '' : 'active'}" do %>
    All <span class="movie-counter"><%= current_user.collections.count %></span>
      <div class="fb-share-button"
      data-href="http://www.muustachio.com/users/<%= current_user.id %>"
      data-layout="button">
  </div>
    <% end %>
    <!-- tag list navbar -->
    <% current_user.tags.distinct.take(3).each do |tag| %>
    <%= link_to collections_path(tag_id: tag.id), class: "list-nav #{(params[:tag_id].to_i == tag.id )  ? 'active' : ''  }" do %>
    <%= tag.name  %> <span class="movie-counter"><%=  tag.collections.count %></span>
    <% end %>
    <% end %>
    <%= link_to new_tag_path, class: "list-nav list-btn" do %>
    Add movie list <i class="fa fa-plus"></i>
    <% end %>
  </div>
<!-- start of collections-->
  <div class="movies">
    <% if @collections.size == 0 %>
    <p class="no-movie">No movies yet in your collection!</p>
    <% else %>
    <% @collections.reverse.each do |collection| %>

    <div class="movie-item">
      <div class="movie-picture" style="background-image: url('<%= collection.movie.photo_url %>')"></div>
      <div class="movie-body">
        <h3><%= collection.movie.title + ' (' + collection.movie.year.to_s + ")" %></h3>

        <p>
          <% unless collection.reviews.empty? %>
          <% collection.reviews.first.my_rating.to_i.times do %>
          <i class="fa fa-star yellow"></i>
          <% end %>
          <% (5 - collection.reviews.first.my_rating.to_i).times do %>
          <i class="fa fa-star grey"></i>
          <% end %>
          <span>(<%= collection.reviews.empty? ? '' : collection.reviews.first.phrase %>)</span>
          <% end %>
        </p>
        <p><%= collection.movie.synopsis %></p>
        <% unless current_user.tags.empty? %>
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#collection-<%= collection.id %>">
          Add to list <i class="fa fa-plus"></i>
        </button>
        <% end %>

      </div>
      <div class="movie-actions">
        <%= link_to collection_path(collection) do %>
        <i class="fa fa-eye"></i>
        <% end %>

        <!-- this is where the tag_collection needs to be deleted -->

        <%= link_to collection_path(collection), method: :delete do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>

    <%end%>

    <% end %>
    <!-- end of collections, this should be exported as a partial-->
  </div>
<!-- end of movies div-->
</div>



<% @collections.each do |collection| %>
<!-- Add to list Modal -->
<div class="modal fade modal-movie" id="collection-<%= collection.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Add to a list</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for TagCollection.new do |f| %>
        <%= f.input :tag_id, collection: current_user.tags.distinct.reject {|t| collection.tags.include? t }, prompt: "Choose a list", label: false    %>
        <%= f.input :collection_id, as: :hidden, input_html: { value: collection.id }  %>
        <%= f.submit "Add to list", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>



<!-- <div class="movie-list-card">

</div> -->

