<div class="container" style='padding-top:80px;'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="friend-nav">
        <%= link_to 'View', friendships_path%>
        <%= link_to 'Add', users_path%>
        <%= link_to 'Pending', pending_path%>
        <%= link_to 'Sent', sent_path%>
      </div>


      <div class="text-center">
      <%= form_tag(users_path, :method => "get") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Find friends", class: 'friend-input' %>
       <% image_submit_tag("logo-white.png", class: 'image-responsive search-logo') %>
       <%= submit_tag "Search", class: "btn" %>
       <% end %>
     </div>

     <% if params[:search].nil? or params[:search].strip == '' %>
     <% else %>
     <% if @users.present?%>
     <%= render 'users' %>

     <% else %>
     <p>There are no user matching: <%= params[:search] %>.</p>
     <% end %>
     <% end %>

     Soon we will have friends suggestions :)

   </div>
 </div>
</div>




