<div class="navbar-mustachio navbar-mustachio-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-mustachio-brand">
    <%= image_tag 'mustachio-logo.png'%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-mustachio-right hidden-xs hidden-sm">

   <%=link_to "Collection", collections_path, class: "navbar-mustachio-item navbar-mustachio-link #{controller_name.in?(["friendships", "users"]) ? '' : 'actif'}" %>

   <!-- Text link -->
   <%=link_to "Friends", friendships_path, class: "navbar-mustachio-item navbar-mustachio-link #{controller_name.in?(["friendships", "users"]) ? 'actif' : ''}" %>

   <!-- Text link -->
   <%link_to "Must", collections_path, class: "navbar-mustachio-item navbar-mustachio-link" %>

   <!-- Notification link-->
 <!--   <a href="" class="navbar-mustachio-item navbar-mustachio-link">
    <div class="badge-container">
      <i class="fa fa-envelope-o" style='color: white'></i>
      <div class="badge badge-grey">3</div>
    </div>
  </a> -->

  <!-- Profile picture and dropdown -->
  <div class="navbar-mustachio-item">
    <div class="dropdown">


      <% avatar_url = current_user.facebook_picture_url || current_user.photo || "http://placehold.it/30x30"%>
      <div class="user-avatar dropdown-toggle", data-toggle= "dropdown" style="background-image: url('<%= image_path avatar_url , class: "avatar dropdown-toggle", id: "navbar-wagon-menu" %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>

      <ul class="dropdown-menu dropdown-menu-right navbar-mustachio-dropdown-menu">
        <li><%= link_to 'Profile', edit_user_registration_path%></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
      </ul>
    </div>
  </div>
</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-mustachio-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-mustachio-dropdown-menu">
      <li><%=link_to "Collection", collections_path%></li>
      <li><%=link_to "Friends", friendships_path%></li>
      <li><%link_to "Must", collections_path%></li>
      <li><%= link_to 'Profile', edit_user_registration_path%></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
    </ul>
  </div>
</div>
</div>
