<div class="container" style='padding-top:80px;'>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%=render 'friendships/menus'%>

      <h4 class="text-center">My friends</h4>

      <% current_user.friends.each do |friend|%>
        <%= link_to friendship_path(friend), class: "friend-card" do %>
          <% avatar_url = friend.facebook_picture_url || friend.photo %>
          <div class="user-avatar" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>
          <h3><%= friend.username%></h3>
          <span>
            <span style="padding-right: 5px;"><%=pluralize(friend.collections.size, 'Movie')%></span>
            <span><%=pluralize(friend.tags.distinct.count, 'List')%></span>
          </span>
        <% end %>
      <%end%>

    </div>
  </div>
</div>

