<div class="container" style='padding-top:80px;'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'friendships/menus'%>
      <%number = 0 %>
      <% current_user.pending_friends.each do |request| %>
        <% number +=1 %>
      <% end %>
      <% if number == 0 %>
        <h4>You don't have any pending requests...</h4>
      <% else %>
        <h4 class="text-center">Requests sent</h4>
      <% current_user.pending_friends.distinct.each do |friendship| %>
          <%= link_to friendship_path(friendship), class: "friend-card" do %>
          <% avatar_url = friendship.facebook_picture_url || friendship.photo %>
          <div class="user-avatar" style="background-image: url('<%= image_path avatar_url %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>
          <h3><%= friendship.username%></h3>
          <span>
            <span style="padding-right: 5px;"><%=pluralize(friendship.collections.size, 'Movie')%></span>
            <span><%=pluralize(friendship.tags.distinct.count, 'List')%></span>
          </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



